* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.wrapp-table {
	position: relative;
	margin: 10px;
	border: 1px solid #000;
	background: #bfbfbf;
	max-width: 900px;
}
h4 {
	margin: 10px;
}
.table {
	display: table;
	border: 1px solid #000;
	text-align: center;
	background: #dddddd;
	color: #000000;
	border-collapse: separate;
	border-spacing: 2px;
}
.input-none {
	display: none;
}
.button {
	text-align: right;
	margin: 2px 2px 1px 2px;
	box-shadow: inset 0px 0px 5px 3px #9e9e9e;
	background: #cdcdcd;
	border: 1px solid #000;
}
.add,
.delete {
	cursor: pointer;
	height: 20px;
	width: 67px;
	box-shadow: inset 0px 0px 5px 3px #9e9e9e;
	border: 1px solid #aaaaaa;
	background-color: #616161;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
}
.add:hover,
.delete:hover {
	box-shadow: inset 0px 0px 5px 3px #cdcdcd;
	border: 1px solid #696969;
	background-color: #959595;
	color: #121212;
}
.checkbox {
	display: inline-block;
	cursor: pointer;
	width: 20px;
	height: 20px;
	box-shadow: inset 0px 0px 5px 1px #4f4f4f;
	vertical-align: middle;
}
.t-row {
	display: table-row;
}
.t-cell {
	display: table-cell;
	height: 20px;
	min-width: 150px;
	box-shadow: inset 0px 0px 5px 3px #9e9e9e;
	padding: 0 5px 0 5px;
}
.t-cell:nth-child(1) {
	min-width: 30px;
}
.t-cell:nth-child(2) {
	min-width: 50px;
}
.t-cell:last-child {
	min-width: 350px;
}
.t-row,
.t-cell {
	border: 1px solid #000;
	background: #cdcdcd;
}
.t-cell-enter {
	display: table-cell;
	min-width: 30px;
	height: 20px;
	box-shadow: inset 0px 0px 5px 3px #9e9e9e;
	background: #cdcdcd;
	border: 1px solid #000;
	margin: 0px 2px 0 0;
	padding: 0 3px 0 3px;
}
.first {
	margin: 0px 2px 0 0;
	width: 32px;
	height: 20px;
}
.next {
	width: 150px;
	height: 20px;
	border-collapse: separate;
	border-spacing: 2px;
}
.t-cell-enter:nth-child(2) {
	width: 50px;
	height: 20px;
}
.t-cell-enter:last-child {
	margin-right: 0;
	min-width: 350px;
}
select:focus {
	outline: none;
}
.select {
	width: 150px;
	height: 22px;
	cursor: pointer;
	text-decoration: underline;
	text-decoration-color: #0000ff;
}
.select:hover {
	background: #5b5b5b;
	color: #ffffff;
	text-decoration: none;
}
.wrapp-window-select {
	position: absolute;
	z-index: 50;
	width: 150px;
	height: 200px;
	border: 1px solid #000;
	box-shadow: inset 0px 0px 5px 3px #9e9e9e;
	background: #bbbbbb;
	display: none;
}
.window-select {
	z-index: 50;
	width: 150px;
	height: 200px;
	background: #bbbbbb;
}
.open {
	display: block;
}
.close {
	display: none;
}
.option {
	color: #000000;
	border: 1px solid #000;
	box-shadow: inset 0px 0px 5px 3px #9e9e9e;
	margin: 1px;
	padding: 0 5px 1px 5px;
}
.option:hover {
	color: #ffffff;
	border: 1px solid #000;
	box-shadow: inset 0px 0px 5px 3px #616161;
	margin: 1px;
	padding: 0 5px 1px 5px;
}
.option-group {
	text-align: center;
	box-shadow: inset 0px 0px 5px 3px #818181;
	background-color: #707070;
	color: #ffffff;
}
.add,
.cancel {
	cursor: pointer;
	box-shadow: inset 0px 0px 5px 3px #9e9e9e;
	border: 1px solid #aaaaaa;
	background-color: #616161;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
}
.add:hover,
.cancel:hover {
	box-shadow: inset 0px 0px 5px 3px #cdcdcd;
	border: 1px solid #696969;
	background-color: #959595;
	color: #121212;
}
.option-button.cancel {
	width: 72px;
	height: 20px;
}
.option-button.add {
	width: 72px;
	height: 20px;
	float: right;
}
.option-button-box {
	background: #adadad;
	width: 148px;
	height: 20px;
	margin-top: 1px;
	padding: 0;
}
